<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Admin Dashboard</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/default">Home</a>
      <a mat-list-item routerLink="/botname">Character Name</a>
      <a mat-list-item>Bot Avatar</a>
      <a mat-list-item routerLink="/botcolor">Color Theme</a>
      <a mat-list-item routerLink="/botshape">Box Shape</a>
      <a mat-list-item>Temp</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet>
      </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>