<html>
    <body>
        <div class="center">
            <mat-card>
                <mat-card-content>
                  <h2 class="example-h2">Box Shape Configuration</h2>
              
                  <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="checked">Squared</mat-checkbox>
                    <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Rounded</mat-checkbox>
                    <mat-checkbox class="example-margin" [(ngModel)]="test">Test</mat-checkbox>
                  </section>
                </mat-card-content>
              </mat-card>              
        </div>
    </body>
</html>