<html>
    <body>
      <div class="test"></div>
        <div class="center">
            <mat-card>
                <mat-card-content>
                  <h2 class="example-h2">Box Colour Configuration</h2>
              
                  <section class="example-section">
                    <mat-checkbox class="example-margin" [checked]="shareds.purple_bc" (click)="change_purple($event)">Purple</mat-checkbox>
                    <mat-checkbox class="example-margin" [checked]="shareds.greeen_bc" (click)="change_green($event)">Green</mat-checkbox>
                    <mat-checkbox class="example-margin" [checked]="shareds.test_bs" (click)="change_test($event)">Test</mat-checkbox>
                  </section>
                  <app-botpreview></app-botpreview>
                </mat-card-content>
              </mat-card>              
        </div>
    </body>
</html>